<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div class="container">
    <h2 class="mt-3">Home</h2>
    <div class="mt-3">
        <h3 class="mt-3">Cadastrar produto</h3>
        <input id="cadastro" value="Cadastrar" type="submit" class="btn btn-primary">
        <h3 class="mt-3">Excluir produto</h3>
        <input id="excluir" value="Excluir" type="submit" class="btn btn-primary">
        <h3 class="mt-3">Atualizar produto</h3>
        <input id="atualizar" value="Atualizar" type="submit" class="btn btn-primary">
        <h3 class="mt-3">Visualizar lista de produtos</h3>
        <input id="visualizar" value="Visualizar" type="submit" class="btn btn-primarys">
    </div>
</div>
</body>
</html>